[Desktop Entry]
Name=Blender
Name[de]=Blender
Name[fr]=Blender
GenericName=3D modeller
GenericName[de]=3D-Modellierer
GenericName[fr]=modeleur 3D
GenericName[ru]=Редактор 3D-моделей
Comment=Create and edit 3D models and animations
Comment[de]=Erstellen und Editieren von 3D Modellen und Animationen
Comment[fr]=Création et édition d'objets 3D et animations
Comment[ru]=Создание и редактирование трёхмерных моделей и анимаций
Exec=/opt/blender/blender
Icon=/opt/blender/icons/scalable/apps/blender.svg
Terminal=false
Type=Application
Categories=Graphics;3DGraphics;
StartupNotify=false
MimeType=application/x-blender;